<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h2, initial-scale=1.0">
    <title>PaintPro</title>
    <link rel="stylesheet" href="resources/css/index.css">
</head>
<body>
<form action="#" class="frmIndex">

    <h1>PaintPro Servicios de Pintura</h1>
    <p>Servicios</p>
    <h2><a href="solicitudServicio">Pintura General</a></h2>
    <h2><a href="rotulos">Rotulos</a></h2>
    <h2><a href="impermeabilizacion">Impermeabilización</a></h2>
    <h2><a href="metales">Metales</a></h2>
    <h2><a href="resanesParedes">Resane de Paredes</a></h2>

</form>

</body>
</html>