<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/estiloDeServicios.css">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <h1>PaintPro Servicios de Pintura</h1>
        <p>Resanes de Paredes</p>

        <div class="carousel">
            <img src="img1.jpg" class="carousel-image active" alt="Imagen 1">
            <img src="img2.jpg" class="carousel-image" alt="Imagen 2">
            <img src="img3.jpg" class="carousel-image" alt="Imagen 3">

          </div>

          <a href="login">Solicitar Servicio</a>
    </div>
</body>

<script src="resources/js/pinturaGeneral.js"></script>

</html>