body {
    background-color: #0b0f3a; /* Azul profundo */
    font-family: 'Unispace', sans-serif;
  }

    
  .frmIndex {
    background-color: #2e1e57; /* Violeta oscuro */
    max-width: 90%;
    margin: 150px auto;
    padding: 40px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Luz suave */
    border-radius: 15px;
  }

  h1 {
    color: #fcebbd; /* Amarillo dorado */;
    text-align: center;
    
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .frmIndex > p {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 20px;
    color: #c07eb8; /* Rosa suave */
  } 

  h2 {
    display: inline-block;
    width: 17%;
    vertical-align: top;
    text-align: center;
    margin: 40px 1%;
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #8b3fa9; /* Morado brillante */
    color: #ffffff; /* Blanco brillante */
  }

  h2:hover {
    transform: translateY(-8px); 
    color:  #fcebbd; /* Amarillo dorado */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: #c07eb8; /* Rosa suave */
    border-radius: 12px;
    padding: 10px;
  }

   
  h2 a {
    text-decoration: none;
    color: #fcebbd; /* Amarillo suave */
    font-weight: bold;
    
    display: block;
    margin-top: 10px;
  }

    
  h2::before {
    content: "ℹ️";
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  
  
  h2::after {
    content: "Body text for whatever you’d like to say.";
    display: block;
    font-size: 0.8rem;
    color: #cccccc; /* Gris suave */
    margin-top: 10px;
    line-height: 1.4;
  }
  