body {
    margin: 0;
    padding: 0;
    font-family: 'Unispace', sans-serif;
    background: linear-gradient(135deg, #0b0f3a, #2e1e57);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(44, 91%, 86%);
}

.registerForm {
    background: rgba(43, 28, 77, 0.8); /* fondo semitransparente */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px #8b3fa9;
    width: 100%;
    height: 500px;
    max-width: 700px;
    backdrop-filter: blur(10px);
    border: 1px solid #c07eb8;
    transition: all 0.3s ease-in-out;
}

.registerForm:hover {
    box-shadow: 0 0 25px #c07eb8;
    transform: translateY(-3px);
}

.registerForm h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1px;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 1px;
}

.registerForm label {
    display: block;
    margin-bottom: 8px;
    color: #cccccc;
    font-weight: 500px;
    font-size: smaller;
}

.registerForm input[type="text"],
.registerForm input[type="password"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #8b3fa9;
    border-radius: 10px;
    background-color: #0b0f3a;
    color: #fcebbd;
    margin-bottom: 20px;
    transition: border 0.3s ease;
    
}

.registerForm input[type="text"]:focus,
.registerForm input[type="password"]:focus {
    border-color: #c07eb8;
    outline: none;
}

.btnRegistrar {
    font-size: x-small;
    width: 100%;
    padding: 7px;
    background: linear-gradient(to right, #8b3fa9, #c07eb8);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btnRegistrar:hover {
    background: linear-gradient(to right, #c07eb8, #8b3fa9);
    box-shadow: 0 0 10px #c07eb8;
}

.registerForm a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #fcebbd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.registerForm a:hover {
    color: #ffffff;
}

div{
    font-size: smaller;
}